type = {type="int", range=[0,1]}
dnum = {type="int"}
wait_time = {type="int"}

debug = {optional=true, type="bool", default=true}

headless = {optional=true, type="bool", default=false}

VD = {optional=true, type="bool", default=true}

use_proxies = {optional=false, type='bool'}

[reddit]
reps = {optional=true, type='list', default=['JumpKickEngine', 'JumpKickEngine1']}

[local]
vid_ids = {type="list"}
num_vid_insts = {type="int"}
tabs = {optional=false, type='int'}
